build
build.mid
build.better
build*
build*/*
*.DS_Store
*.user
.DS_Store
.DS_Store
ui_*.h
*~
*Zone.Identifier*
FlatTabWidget*
#*#
EVENTS/Celeris/Example_Configs/*
build/*
./build/*
./build_windows/*
build_windows
FlatTabWidget
./FlatTabWidget
./FlatTabWidget/*
*Zone.Identifier
test
WaterDropSample*
*.o
build.old
*.vtk
*.out
*.old
Examples/plots
*.npy
Examples/templatedir_SIM